@media only screen and (max-width: 766px) {
    .visit-site-bottom-fixed {
        position: fixed;bottom: 0;left: 0;right: 0;backface-visibility: hidden;-webkit-backface-visibility: hidden;z-index: 12345;margin: 0;display: block;
    }
}