<form method="post" id="review-form"
      action="{{ 'hosting/companies/create-review' | link }}/{{ hosting_company_id }}" enctype="multipart/form-data">
    <div class="alert alert-success" style="display: none;"></div>
    <div class="alert alert-warning" style="display: none;"></div>
    <div class="form-group row">
        <div class="col-md-6">
            <label class="control-label">Pilih Reviewer</label>
            {% set revrs = App.call.model("\\ExtensionsModel\\HostingReviewerModel", 'getData', {}) %}
            <select id="s2_basic" name="HostingReview[reviewer_id]" class="form-control reviewer-list required" onchange="chooseReviewer(this);">
                <option value="-">Pilih</option>
                {% for fi,revr in revrs %}
                <option value="{{ revr.id }}" attr-title="{{ revr.name }}"
                        attr-email="{{ revr.email }}" {% if data.reviewer_id and revr.id == data.reviewer_id %}selected="selected"{% endif %}>{{ revr.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label class="control-label">Nama Reviewer</label>
            <input name="HostingReview[reviewer_name]" type="text" class="form-control reviewer-name" value="{{ data.reviewer_name }}">
        </div>
        <div class="clearfix mb10"></div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Email Reviewer</label>
                <input name="HostingReview[reviewer_email]" type="text" class="form-control reviewer-email" value="{{ data.reviewer_email }}" onchange="checkAccount(this);">
            </div>
            <div class="col-md-8">
                <label class="control-label">Image</label>

                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="input-append">
                        <div class="uneditable-input">
                            <i class="glyphicon glyphicon-file fileupload-exists"></i>
                            <span class="fileupload-preview"></span>
                        </div>
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new">Select file</span>
                            <span class="fileupload-exists">Change</span>
                            <input type="file" name="HostingReview[reviewer_image]" class="reviewer-image"/>
                        </span>
                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix mb15"></div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Judul <span class="red">*</span></label>
                <input type="text" name="HostingReview[title]" class="form-control required" value="{{ data.title }}" required />
            </div>
            {% set products = App.call.model("\\ExtensionsModel\\HostingCompanyProductModel", 'getOptions', {'company_id':hosting_company_id}) %}
            <div class="col-md-6">
                <label class="control-label">Produk Yang Digunakan</label>
                <select name="HostingReview[product_id]" class="form-control">
                    {% for ipc,product_cat in products %}
                    <optgroup label="{{ product_cat[0].category_name }}">
                        {% for ip,product in product_cat %}
                            <option value="{{ product.id }}"
                                    {% if data.product_id and product.id == data.product_id %}selected="selected"{% endif %}>{{ product.title }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Isi Review <span class="red">*</span></label>
                <textarea name="HostingReview[content]" class="form-control review-content required" rows="9" required>{{ data.content }}</textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Rate</label>
                {% set rates = [1,2,3,4,5,6,7,8,9,10] %}
                {% set categories = App.call.model("\\ExtensionsModel\\HostingRateCategoryModel", 'getData', {}) %}
                {% for ci, category in categories %}
                <div class="input-group mb10">
                    {% set cat_id = category.id %}
                    <span class="input-group-addon">{{ category.title }}</span>
                    <select name="HostingReview[rate][{{ category.id }}]" class="form-control required">
                        {% for i,rate in rates %}
                        <option value="{{ rate }}" {% if rdata and rdata[cat_id].value == rate %}selected="selected"{% endif %}>{{ rate }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <input type="hidden" name="HostingReview[hosting_company_id]" value="{{ hosting_company_id }}">
    <input type="hidden" name="HostingReview[reviewer_id]" value="{{ data.reviewer_id }}" id="hosting_reviewer_id">
    <div class="form-group">
        <input type="submit" name="Submit" value="Simpan" class="btn btn-success btn-submit" onclick="return saveReview(this);">
    </div>
</form>

{% block endbodyjs %}
<script type="text/javascript">
    function saveReview(dt) {
        if ($('.review-content').length > 0) {
            $('.review-content').each(function () {
                var the_id = $(this).attr("id");
                var the_val = tinyMCE.get(the_id).getContent();
                $(this).val(the_val);
                console.log(the_val);
            });
        }

        $('form[id="review-form"]').find('.has-error').each(function () {
           $(this).removeClass('has-error');
        });
        var formData = new FormData($('form[id="review-form"]')[0]);
        var url = $(dt).parent().parent().attr('action');
        var reviewer_name = $('.reviewer-name').val();
        var errors = new Array();
        if (reviewer_name.length > 0) {
            // check the other required form
            var reviewer_email = $('.reviewer-email').val();
            if (reviewer_email.length <= 0) {
                errors.push('Kolom email harus diisi untuk membuat reviewer baru.');
            } else {
                if (!validateEmail(reviewer_email)) {
                    errors.push('Format email tidak valid.');
                } else {
                    var has_data = isEmailExist(reviewer_email);
                    if (has_data) {
                        errors.push(reviewer_email+' sudah pernah terdaftar.');
                    }
                }
            }
            $('#hosting_reviewer_id').val("");
        } else {
            var rev_id = $('#hosting_reviewer_id').val();
            if (rev_id == "-" || rev_id.length == 0) {
                $('.reviewer-list').parent().addClass('has-error');
                errors.push('Mohon pilih salah satu reviewer atau isi kolom Nama Reviewer untuk membuat data baru.');
            }
        }

        var review_content = $('.review-content').val();
        if (review_content.length <= 0) {
            errors.push('Content review wajib diisi.');
            $('.review-content').parent().addClass('has-error');
        }

        /*var validate = jb_validation.validate($('form[id="review-form"]'));
        if (!validate) {
            return false;
        }

        var formData = new FormData($('form[id="review-form"]')[0]);
        var url = $(dt).parent().parent().attr('action');*/

        console.log(errors);
        if (errors.length > 0) {
            var msg = "";
            for (i = 0; i < errors.length; i++) {
                if (typeof (errors[i]) != undefined) {
                    msg += errors[i] + "<br>";
                }
            }
            $('.alert-warning').html(msg).show();
            return false;
        }

        $.ajax({
            'url': url,
            'type':'post',
            'data': formData,
            'dataType': 'json',
            'async': false,
            'success': function(data) {
                console.log(data);
                if (data.status == 'success') {
                    var alert_success = $('#review-form').find('.alert-success');
                    var alert_warning = $('#review-form').find('.alert-warning');
                    alert_success.html(data.message);
                    alert_success.show();
                    alert_warning.hide();
                    $('form[id="review-form"]').find('.form-group').hide();
                    setTimeout(function () {
                        var uri = "{{ 'hosting/companies/update' | link }}/{{ hosting_company_id }}#review"
                        window.location.reload(true);
                    }, 5000);
                }
            },
            'errors': function (request, status, error) {
                console.log(request.responseText);
            },
            'cache': false,
            'contentType': false,
            'processData': false
        });

        return false;
    }

    function chooseReviewer(dt) {
        var opt = $(dt).find('option[value="'+ $(dt).val() +'"]');
        $('#hosting_reviewer_id').val($(dt).val());
        $('.reviewer-name').attr('placeholder', opt.text());
        $('.reviewer-email').attr('placeholder', opt.attr('attr-email'));
        $('#hosting_reviewer_id').val($(dt).val());
        return true;
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    function isEmailExist(email) {
        $.ajax({
            'url': "{{ 'hosting/companies/check-reviewer' | link }}",
            'type':'post',
            'data': {'email':email},
            'dataType': 'json',
            'async': false,
            'success': function(data) {
                var msg = "<span class=\"help-block\">"+ data.message +"</span>";
                if (data.status == 'success') {
                    $('.reviewer-email').parent().addClass('has-error').append(msg);
                    return true;
                } else {
                    $('.reviewer-email').parent().removeClass('has-error');
                    $('.reviewer-email').parent().find('.help-block').remove();
                    return false;
                }
            },
            'errors': function (request, status, error) {
                console.log(request.responseText);
            },
        });
        return false;
    }


    function checkAccount(dt) {
        if ($('select.reviewer-list').val() == '-' || $('#hosting_reviewer_id').val().length == 0) {
            isEmailExist($(dt).val());
        }

        return false;
    }

    setTimeout(function () {
        tinymce.init({
            selector: '.review-content',
            remove_linebreaks: false,
            gecko_spellcheck: false,
            keep_styles: true,
            accessibility_focus: true,
            tabfocus_elements: 'major-publishing-actions',
            media_strict: false,
            height: 100,
            plugins: 'code image imagetools paste codesample',
            menubar: false,
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link pastetext code codesample',
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'}
            ],
        });

    }, 3000);
</script>
{% endblock %}