<div class="row">
    <div class="col-md-6">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama Paket</th>
                <th>Harga (per tahun)</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for i, plan in plans %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ plan.title }}</td>
                    <td>{{ plan.price_1y | default('0') | number_format(0, ',', '.') }}</td>
                    <td>
                        <a href="{{ 'hosting/companies/update-plan' | link }}/{{ plan.id }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="{{ 'hosting/companies/delete-plan' | link }}/{{ plan.id }}" onclick="return hapusPlan(this);">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        {% include 'hostings/_form_plan.html' with {'hosting_company_id':model.id} %}
    </div>
</div>
<script type="text/javascript">
    function hapusPlan(dt) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(dt);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                'success': function(data) {
                    console.log(data);
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
</script>