<div class="row">
    <div class="col-md-6">
        <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive" role="grid">
            <div class="alert alert-success" id="alert-update-plan" style="display: none;"></div>
            <table class="table table-responsive dataTable">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Paket</th>
                    <th>Harga (Per Tahun)</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for i, plan in plans %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>
                        <input type="text" name="HostingPlan[title][{{ plan.id }}]" value="{{ plan.title }}" class="form-control p_title">
                    </td>
                    <td>
                        <input type="text" name="HostingPlan[price][{{ plan.id }}]" value="{{ plan.price_1y }}" class="form-control p_value">
                    </td>
                    <td>
                        <a href="#" onclick="return updatePlan(this);" rel-id="{{ plan.id }}">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <a href="{{ 'hosting/companies/delete-plan' | link }}/{{ plan.id }}" onclick="return hapusPlan(this);">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        {% include 'hostings/_form_plan.html' with {'hosting_company_id':model.id} %}
    </div>
</div>
<script type="text/javascript">
    function hapusPlan(dt) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(dt);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                'success': function(data) {
                    console.log(data);
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
    function updatePlan(dt) {
        var $this =  $(dt);
        var url = "{{ 'hosting/companies/update-plan' | link }}/"+ $this.attr('rel-id');
        var p_title = $this.parent().parent().find('.p_title').val();
        var p_value = $this.parent().parent().find('.p_value').val();
        $.ajax({
            'url': url,
            'type':'post',
            'data':{'id':$this.attr('rel-id'),'title':p_title,'price_1y':p_value},
            'dataType':'json',
            'success': function(data) {
                console.log(data);
                if (data.status == 'success') {
                    $('#alert-update-plan').html(data.message);
                    $('#alert-update-plan').show();
                    setTimeout(function () {
                        $('#alert-update-plan').hide();
                    }, 2000);
                } else {
                    $('#alert-update-plan').hide();
                }
            }
        });

        return false;
    }
</script>