{% set configs = model.configs | json_decode %}
<div class="row">
    {% for ci,cat_ids in configs.product_category_id %}
    {% set cat_data = App.call.model("\\ExtensionsModel\\HostingProductCategoryModel", 'getItem', {"id":ci}) %}
    {% set cat_configs = cat_data.configs | json_decode %}
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="badge badge-info">{{ ci }}</span> {{ cat_ids.title }}</div>
            <div class="panel-body">
                <!-- list data -->
                {% set product_datas = App.call.model("\\ExtensionsModel\\HostingCompanyProductModel", 'getData', {"company_id":model.id, "category_id":ci}) %}
                <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive" role="grid">
                    <table class="table table-responsive dataTable">
                        <thead>
                        <tr>
                            <th>Title</th>
                            {% if 'space' in cat_configs.features %}<th>Space</th>{% endif %}
                            {% if 'bandwidth' in cat_configs.features %}<th>Bandwidth</th>{% endif %}
                            {% if 'panel' in cat_configs.features %}<th>Panel</th>{% endif %}
                            {% if 'domain' in cat_configs.features %}<th>Domain</th>{% endif %}
                            {% if 'price' in cat_configs.features %}<th>Price</th>{% endif %}
                            {% if 'cpu' in cat_configs.features %}<th>CPU</th>{% endif %}
                            {% if 'ram' in cat_configs.features %}<th>RAM</th>{% endif %}
                            {% if 'os' in cat_configs.features %}<th>OS</th>{% endif %}
                            <th>Score</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ip, product_data in product_datas %}
                        <tr>
                            <td>{{ product_data.title }}</td>
                            {% if 'space' in cat_configs.features %}
                                <td>{% if product_data.space %}{{ product_data.space }}GB{% else %}Unlimited{% endif %}</td>
                            {% endif %}
                            {% if 'bandwidth' in cat_configs.features %}
                                <td>{% if product_data.bandwidth %}{{ product_data.bandwidth }}GB{% else %}Unlimited{% endif %}</td>
                            {% endif %}
                            {% if 'panel' in cat_configs.features %}
                                <td>{{ product_data.panel }}</td>
                            {% endif %}
                            {% if 'domain' in cat_configs.features %}
                                <td>{{ product_data.domain }}</td>
                            {% endif %}
                            {% if 'price' in cat_configs.features %}
                                <td>{{ product_data.price_range_from }} - {{ product_data.price_range_to }}</td>
                            {% endif %}
                            {% if 'cpu' in cat_configs.features %}
                                <td>{{ product_data.cpu_number }} x {{ product_data.cpu_clock_rate }}GHz</td>
                            {% endif %}
                            {% if 'ram' in cat_configs.features %}
                                <td>{{ product_data.ram }}GB</td>
                            {% endif %}
                            {% if 'os' in cat_configs.features %}
                                <td>{{ product_data.os }}</td>
                            {% endif %}
                            <td>{{ product_data.score }}</td>
                            <td>{% if product_data.enabled > 0 %}Enabled{% else %}Disabled{% endif %}</td>
                            <td>
                                <a href="#" onclick="return updateProductFeature(this);" rel-id="{{ product_data.id }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ 'hosting/companies/delete-product-feature' | link }}/{{ product_data.id }}" onclick="return hapusProductFitur(this);">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr class="no-data">
                            <td>No data founds</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="javascript:void(0);"
                   class="btn btn-success" attr-id="{{ ci }}" onclick="return addProductFeature(this);">Tambah Produk {{ cat_ids.title }}</a>
                <div class="clearfix mb30"></div>
                <!-- end list data -->
                <form id="product-feature-form-{{ ci }}" method="post"
                      action="{{ 'hosting/companies/create-product-feature' | link }}/{{ ci }}" style="display: none;">
                    <div class="alert alert-success" style="display: none;"></div>
                    <div class="alert alert-warning" style="display: none;"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Nama Product <span class="red">*</span></label>
                        <input name="HostingCompanyProduct[title][{{ ci }}]" type="text" class="form-control required" placeholder="ex: Starter">
                    </div>
                    {% if 'space' in cat_configs.features %}
                    <div class="form-group col-md-6">
                        <label class="control-label">Space <span class="red">*</span></label>
                        <div class="input-group">
                            <input name="HostingCompanyProduct[space][{{ ci }}]" type="text" class="form-control required" placeholder="0 untuk unlimited">
                            <span class="input-group-addon">GB</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'bandwidth' in cat_configs.features %}
                    <div class="form-group col-md-6">
                        <label class="control-label">Bandwidth <span class="red">*</span></label>
                        <div class="input-group">
                            <input name="HostingCompanyProduct[bandwidth][{{ ci }}]" type="text" class="form-control required" placeholder="0 untuk unlimited">
                            <span class="input-group-addon">GB</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'panel' in cat_configs.features %}
                    <div class="form-group col-md-6">
                        <label class="control-label">Panel <span class="red">*</span></label>
                        {% set panels = ['cPanel', 'Webuzo', 'vestaCP'] %}
                        <select name="HostingCompanyProduct[panel][{{ ci }}]" class="form-control required">
                            {% for ip, panel in panels %}
                            <option value="{{ panel }}">{{ panel }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% if 'number_of_site' in cat_configs.features %}
                    <div class="form-group col-md-6">
                        <label class="control-label">Jumlah Addon Domain <span class="red">*</span></label>
                        <div class="input-group">
                            <input name="HostingCompanyProduct[number_of_site][{{ ci }}]" type="text" class="form-control required" placeholder="Bilangan bulat. ex: 1">
                            <span class="input-group-addon">Domain</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'cpu' in cat_configs.features %}
                    <div class="form-group col-md-6">
                        <label class="control-label">CPU <span class="red">*</span></label>
                        <div class="input-group">
                            <input name="HostingCompanyProduct[cpu_number][{{ ci }}]" type="text" class="form-control required" placeholder="Jumlah CPU. ex: 1">
                            <input name="HostingCompanyProduct[cpu_clock_rate][{{ ci }}]" type="text" class="form-control required" placeholder="Clock Rate. ex: 2.50">
                            <span class="input-group-addon">GHz</span>
                        </div>
                    </div>
                    {% endif %}

                    <div class="form-group col-md-6">
                        <label class="control-label">Rentang Harga <span class="red">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon">Rp.</span>
                            <input name="HostingCompanyProduct[price_range_from][{{ ci }}]" type="text" class="form-control required" placeholder="Harga Mulai. ex: 125000">
                            <input name="HostingCompanyProduct[price_range_to][{{ ci }}]" type="text" class="form-control required" placeholder="Harga Hingga. ex: 300000">
                        </div>
                    </div>

                    {% if 'ram' in cat_configs.features %}
                    <div class="form-group col-md-6">
                        <label class="control-label">RAM <span class="red">*</span></label>
                        <div class="input-group">
                            <input name="HostingCompanyProduct[ram][{{ ci }}]" type="text" class="form-control required" placeholder="1">
                            <span class="input-group-addon">GB</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'os' in cat_configs.features %}
                    <div class="form-group col-md-6">
                        <label class="control-label">OS <span class="red">*</span></label>
                        {% set oss = ['Linux', 'Windows'] %}
                        <select name="HostingCompanyProduct[os][{{ ci }}]" class="form-control required">
                            {% for ios, os in oss %}
                            <option value="{{ os }}">{{ os }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <div class="form-group col-md-6">
                        <label class="control-label">Skor <span class="red">*</span></label>
                        <input name="HostingCompanyProduct[score][{{ ci }}]" type="text" class="form-control required" placeholder="ex: 7.8">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Status <span class="red">*</span></label>
                        {% set statuses = ['Disabled', 'Enabled'] %}
                        <select name="HostingCompanyProduct[enabled][{{ ci }}]" class="form-control">
                            {% for ist, status in statuses %}
                            <option value="{{ ist }}" {% if ist == 1 %}selected="selected"{% endif %}>{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" name="HostingCompanyProduct[category_id][{{ ci }}]" value="{{ ci }}">
                    <input type="hidden" name="HostingCompanyProduct[company_id][{{ ci }}]" value="{{ model.id }}">
                    <div class="form-group col-md-12">
                        <input type="submit" name="submit" value="Submit" class="btn btn-info" attr-id="{{ ci }}" onclick="return saveProductFeature(this);">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<button class="hide btn-modal" data-toggle="modal" data-target="#bs_modal_regular">Regular modal</button>
<div class="modal fade" id="bs_modal_regular">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Update Product <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function saveProductFeature(dt) {
        var ci = $(dt).attr("attr-id");
        var form_id = "product-feature-form-"+ ci;
        var formData = new FormData($('form[id="'+form_id+'"]')[0]);
        var url = $('form[id="'+form_id+'"]').attr('action');

        var validate = jb_validation.validate($('form[id="'+form_id+'"]'));
        if (!validate) {
            return false;
        }

        $.ajax({
            'url': url,
            'type':'post',
            'data': formData,
            'dataType': 'json',
            'async': false,
            'success': function(data) {
                console.log(data);
                if (data.status == 'success') {
                    var alert_success = $('#product-feature-form-'+ci).find('.alert-success');
                    var alert_warning = $('#product-feature-form-'+ci).find('.alert-warning');
                    alert_success.html(data.message);
                    alert_success.show();
                    alert_warning.hide();
                    setTimeout(function () {
                        window.location.reload(true);
                    }, 5000);
                }
            },
            'errors': function (request, status, error) {
                console.log(request.responseText);
            },
            'cache': false,
            'contentType': false,
            'processData': false
        });

        return false;
    }

    function updateProductFeature(dt) {
        var id = $(dt).attr('rel-id');
        $.ajax({
            'url': "{{ 'hosting/companies/update-product-feature' | link }}/"+ id,
            'type':'get',
            'async': false,
            'success': function(data) {
                $('#bs_modal_regular').find('.modal-body').html(data);
            },
            'errors': function (request, status, error) {
                console.log(request.responseText);
            },
            'cache': false,
            'contentType': false,
            'processData': false
        });
        $('button.btn-modal').trigger("click");

        return false;
    }

    function addProductFeature(dt) {
        var id = $(dt).attr('attr-id');
        var form_id = "product-feature-form-"+ id;
        $('form[id="'+ form_id +'"]').toggle();

        return false;
    }

    function hapusProductFitur(dt) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(dt);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                'success': function(data) {
                    console.log(data);
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }

    function submitUpdateProductFeature(dt) {
        var form_id = "product-feature-form-update";
        var formData = new FormData($('form[id="'+form_id+'"]')[0]);
        var url = $('form[id="'+form_id+'"]').attr('action');

        var validate = jb_validation.validate($('form[id="'+form_id+'"]'));
        if (!validate) {
            return false;
        }

        $.ajax({
            'url': url,
            'type':'post',
            'data': formData,
            'dataType': 'json',
            'async': false,
            'success': function(data) {
                console.log(data);
                if (data.status == 'success') {
                    var alert_success = $('#'+form_id).find('.alert-success');
                    alert_success.html(data.message);
                    alert_success.show();
                    setTimeout(function () {
                        window.location.reload(true);
                    }, 5000);
                }
            },
            'errors': function (request, status, error) {
                console.log(request.responseText);
            },
            'cache': false,
            'contentType': false,
            'processData': false
        });

        return false;
    }
</script>