<div class="row">
    <div class="col-md-7">
        <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive" role="grid">
            <div class="alert alert-success" id="alert-update-review" style="display: none;"></div>
            <table class="table table-responsive dataTable">
                <thead>
                <tr>
                    <th>Nama</th>
                    <th>Content</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for i, review in reviews %}
                <tr>
                    <td>
                        <a href="{{ 'hosting/reviewers/update' | link }}/{{ review.reviewer_id }}" target="_blank">{{ review.reviewer_name }}</a>
                    </td>
                    <td>
                        <textarea
                                name="HostingReview[content][{{ review.id }}]"
                                class="form-control f_content"
                                rows="1" cols="40">{{ review.content }}</textarea>
                    </td>
                    <td>
                        {% set status_list = App.call.model("\\ExtensionsModel\\HostingReviewModel", 'getStatuses', {}) %}
                        <select name="HostingReview[status][{{ review.id }}]" class="form-control f_status">
                            {% for is, stts in status_list %}
                            <option value="{{ is }}" {% if is == review.status %}selected="selected"{% endif %}>{{ stts }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <a href="#" onclick="return updateReview(this);" rel-id="{{ review.id }}">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <a href="{{ 'hosting/companies/delete-review' | link }}/{{ review.id }}" onclick="return hapusFitur(this);">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        {% include 'hostings/_form_review.html' with {'hosting_company_id':model.id} %}
    </div>
</div>
<script type="text/javascript">
    function hapusFitur(dt) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(dt);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                'success': function(data) {
                    console.log(data);
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
    function updateReview(dt) {
        //if (confirm('Anda yakin ingin memperbarui data item ini ?')) {
        var $this =  $(dt);
        var url = "{{ 'hosting/companies/update-review' | link }}/"+ $this.attr('rel-id');
        var f_content = $this.parent().parent().find('.f_content').val();
        var f_status = $this.parent().parent().find('.f_status').val();
        $.ajax({
            'url': url,
            'type':'post',
            'data':{'id':$this.attr('rel-id'),'content':f_content,'status':f_status},
            'dataType':'json',
            'success': function(data) {
                console.log(data);
                if (data.status == 'success') {
                    $('#alert-update-review').html(data.message);
                    $('#alert-update-review').show();
                    setTimeout(function () {
                        $('#alert-update-review').hide();
                    }, 2000);
                } else {
                    $('#alert-update-review').hide();
                }
            }
        });
        //}
        return false;
    }
</script>